[submodule "qrdx-website"]
	path = qrdx-website
	url = https://repo.qrdx.org/qrdx-org/qrdx-website.git
[submodule "qrdx-explorer"]
	path = qrdx-explorer
	url = https://repo.qrdx.org/qrdx-org/qrdx-explorer.git
[submodule "qrdx-trade"]
	path = qrdx-trade
	url = https://repo.qrdx.org/qrdx-org/qrdx-trade.git
[submodule "qrdx-wallet"]
	path = qrdx-wallet
	url = https://repo.qrdx.org/qrdx-org/qrdx-wallet.git