[submodule "qrdx-website"]
	path = qrdx-website
	url = https://github.com/qrdx-org/qrdx-website.git
[submodule "qrdx-explorer"]
	path = qrdx-explorer
	url = https://github.com/qrdx-org/qrdx-explorer.git
[submodule "qrdx-trade"]
	path = qrdx-trade
	url = https://github.com/qrdx-org/qrdx-trade.git
[submodule "qrdx-wallet"]
	path = qrdx-wallet
	url = https://github.com/qrdx-org/qrdx-wallet.git
[submodule "qrdx-node"]
	path = qrdx-node
	url = https://github.com/qrdx-org/qrdx-chain.git
	branch = test
[submodule "qrdx-docs"]
	path = qrdx-docs
